* {
  font-family: "Raleway", serif;
}

.primary-gradient {
  background: linear-gradient(to top right, #0400ff, #4ce3f7);
}

.footer-gradient {
  background: linear-gradient(to top right, #4ce3f7 0%, #183fba 100%);
}

.font-abel {
  font-family: "Abel", serif;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}

.font-orbitron {
  font-family: "Orbitron", serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.text-display-1 {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 1.2;
  font-family: "Orbitron", serif;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.text-display-2 {
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 1.2;
  font-family: "Orbitron", serif;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.text-display-3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  font-family: "Raleway", serif;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.text-heading-1 {
  position: relative;
  font-weight: 100;
  font-size: 2.5rem;
  font-family: "Abel", serif;
  width: fit-content;
  margin-bottom: 1.2rem;

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    max-width: 12rem;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (max-width: 768px) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.6rem;
    font-size: 2rem;

    &::after {
      width: 100%;
      max-width: none;
    }
  }
}

.text-heading-2 {
  font-weight: 100;
  font-size: 1.75rem;
  letter-spacing: 0.1px;
  font-family: "Abel", serif;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1.2rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}
