* {
  font-family: "Raleway", serif;
}

.primary-gradient {
  background: linear-gradient(to top right, #0400ff, #4ce3f7);
}

.footer-gradient {
  background: linear-gradient(to top right, #4ce3f7 0%, #183fba 100%);
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}
